body{
    margin: 0;
    background-color: #a4abac;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: rgb(65, 0, 71);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    background-color: rgb(65, 0, 71);
  }
  
  
  .navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50%;
  }

  .tela_superior{
    display: flex;
    background-color: #a4abac;
    height: 75vh;
    width: 100%;
    margin-top: 5%;
  }

  .container-1{
    display: flex;
    width: 50%;
    height: 75%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(180, 180, 180);
    margin: 0 2%;
    transition: 1s;
  }

  .container-2{
    display: flex;
    width: 50%;
    height: 75%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(180, 180, 180);
    margin: 0 2%;
  }

  .tela_meio{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 5%;
  }

  .ranking_musicas{
    display: flex;
    width: 35%;
    height: 100%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(180, 180, 180);
    margin: 0 2%;
    margin-bottom: 5%;
  }
  .tela_musicas{
    display: flex;
    width: 65%;
    height: 100%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(180, 180, 180);
    margin: 0 2%;
    margin-bottom: 5%;
  }

  .header .navbar{
    justify-content: space-evenly;
  }

  .redes_sociais{
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    height: 25%;
    width: 100%;
  }

  #ipt_pesquisa{
    background-color: rgba(164, 171, 172, 0.7);
    width: 35%;
    height: 35%;
    border: 1px solid #808080;
    border-radius: 10px;
    transition: 1s;
  }

  ::placeholder{
    color: rgb(42, 42, 42);
  }

  /* .conteudo_header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  } */

  .logo_pagina{
    width: 10%;
    height: 100%;
    background-color: blue;
  }