@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

::-webkit-scrollbar {
  width: 7px;
}

.bi {
  color: #d69b11;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

body {
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-color: #1e1e1e;
  background-image: linear-gradient(360deg, black 0%, #1e1e1e 94%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background-color: #1e1e1e;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.849); */
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
  background-color: #1e1e1e;
  z-index: 2;
}

.header a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 50%;
  margin-right: 50px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: all ease 0.3s;
}

.navbar a:hover {
  color: #d69b11;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 10%;
  width: 100%;
  background-color: black;
}

.footer h6 {
  width: 100%;
  height: 10%;
  font-size: small;
  color: #d69b11;
}

.tela_superior {
  display: flex;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.tela_inteira {
  display: flex;
  width: 100%;
}

.tela_inteira_cifra {
  display: flex;
  background-color: #1e1e1e;
  background-image: linear-gradient(360deg, black 0%, #1e1e1e 94%);
}

.container_menu {
  display: flex;
  width: 100%;
  margin-top: 7%;
  flex-direction: column;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 23px;
}

.container_menu p {
  margin: 0 0 10px 0;
}

.container_menu b {
  color: #FF9800;
}

.container_menu .thin {
  font-weight: 300;
  color: #aaa;
  font-size: 16px;
}

.container_menu h6 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.tela_meio_musicas {
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: 5%;
}

.container_home {
  display: flex;
  width: 50vw;
  height: 100vh;
}

.rankings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 100%;
  border-radius: 4px;
  margin: 0 2%;
  margin-bottom: 5%;
}

.tela_musicas {
  display: flex;
  width: 65%;
  height: 100%;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 2%;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.829);
}

.redes_sociais {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#ipt_pesquisa {
  background-color: #333333;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  color: white;
  padding: 0 20px;
  outline: none;
  border: none;
  transition: all ease 0.2s;
}

#ipt_pesquisa:focus {
  background-color: #444;
}

.logo_pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.logo_pagina h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
}

.ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  color: black;
  border: 2px solid #f5b111cb;
  transition: 0.3s;
  cursor: pointer;
}

.ranking:hover {
  transition: 0.3s;
  width: 102%;
  height: 21%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.7);
  background-color: #242424;
  border-radius: 5px;
  border-color: rgba(255, 145, 0, 0.438);
  z-index: 3;
}

.ranking p {
  font-size: large;
  font-weight: 100;
  /* margin-left: 5%; */
  margin-top: 0;
  margin-bottom: 0;
  color: antiquewhite;
}

#btn_login {
  width: 100px;
  height: 80%;
  background-color: #d69b11;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: large;
  transition: all ease 0.3s;
  cursor: pointer;
}

#btn_login:hover {
  background-color: hsl(42, 85%, 55%);
  box-shadow: 0 0 10px #d69b11, 0 0 40px #d69b11;
}

.container-1 h1 {
  text-align: center;
  font-size: larger;
  font-weight: 800;
}

h2 {
  margin-top: 5%;
  margin-left: 50%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  font-size: larger;
  letter-spacing: 3px;
  color: antiquewhite;
  text-decoration: underline;
}

.redes_sociais img {
  width: 50px;
  height: 50px;
  transition: 1s;
}

.tela_inteira {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container_cifra {
  font-size: larger;
  display: flex;
  width: 60%;
  height: 90%;
  margin: 10%;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 10px;
}

.menu_cifra {
  display: flex;
  width: 28%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #1e1e1e;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.135em;
  color: #ffffff;
  text-align: center;
}

.menu_cifra img {
  position: absolute;
  height: 50vh;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: lighten;
  box-shadow: inset -16px -39px 6px #000000;
  opacity: 0.5;
}

.menu_cifra b {
  color: #d69b11;
  font-weight: 400;
}

.nome_da_musica {
  margin-left: 15%;
}

#cifra {
  justify-self: center;
}

.rolar_pagina {
  display: flex;
  align-items: center;
  z-index: 2;
  margin-left: 15%;
  gap: 16px;
  margin-top: 10px;
  font-weight: 400;
}

.controle_range {
  height: 100%;
  width: 50%;
}

pre {
  margin-left: 8%;
  color: rgb(194, 194, 194);
  font-size: larger;
}

.opcoes_cifra {
  margin: 1%;
  text-align: center;
  background-color: #d69b11;
  border-radius: 5px;
  padding: 1%;
  cursor: pointer;
}

b {
  color: #d69b11;
}

.escondido {
  opacity: 0 !important;
  visibility: hidden !important;
}

.display_none {
  display: none;
}



.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d69b1180;
}

input:checked + .slider::before {
  background-color: #d69b11;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d69b1180;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}

.range_valor {
  position: fixed;
  bottom: 40px;
  right: 60px;
  width: 25%;
  padding: 0 20px;
  height: 50px;
  background-color: #eeeeee8f;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: all ease 0.15s;
}

.range_valor input {
  width: auto;
  flex-grow: 1;
  color: #d69b11;
}

.range_valor .fechar {
  cursor: pointer;
}

.range_valor .fechar:hover {
  color: #d69b11;
}

.container_favoritar .favoritar:hover {
  color: black;
}

.range {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #d69b11;
  border-radius: 50%;
  cursor: pointer;
}

.tela_inteira_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, black 0%, #1e1e1e 94%);
}

.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 80%;
  height: 100vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.432);
  background-color: #363636;
}

.container_imagem_login {
  width: 50%;
  height: 95%;
  margin-left: 2.5%;
  background-color: #363636;
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.26); */
}

.container_imagem_login img {
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

.container_campos_login h4,
h6 {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  margin: 3%;
}

.container_campos_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2.5%;
  width: 50%;
  height: 90%;
  letter-spacing: 2px;
}

.container_campos_login a {
  color: #d69b11;
}

.container_campos_login input {
  width: 70%;
  height: 6%;
  background-color: #cccccccb;
  border: 1px solid rgba(0, 0, 0, 0.849);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container_campos_login button {
  width: 70%;
  height: 8%;
  border-radius: 5px;
  background-color: #d69b11;
  margin-top: 10%;
}

.container_campos_login p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100;
  font-size: small;
  color: #ddd;
}

.tela_inteira_cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, black 0%, #1e1e1e 94%);
}

.container_cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 80%;
  height: 100vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.432);
  background-color: #363636;
}

.container_imagem_cadastro {
  width: 50%;
  height: 95%;
  margin-left: 2.5%;
  background-color: #363636;
  border-radius: 10px;
}

.container_imagem_cadastro img {
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

.container_campos_cadastro h4,
h6 {
  color: #fff;
  font-weight: 100;
  font-size: large;
  margin: 3%;
}

.container_campos_cadastro a {
  color: #d69b11;
}

.container_campos_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2.5%;
  width: 50%;
  height: 90%;
  letter-spacing: 2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container_campos_cadastro input {
  width: 70%;
  height: 6%;
  background-color: #cccccccb;
  border: 1px solid rgba(0, 0, 0, 0.849);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container_campos_cadastro button {
  width: 70%;
  height: 6%;
  border-radius: 5px;
  background-color: #d69b11;
  margin-top: 10%;
}

.container_campos_cadastro p {
  font-weight: 100;
  font-size: small;
  color: #ddd;
}

.redes_sociais a {
  color: white;
  text-decoration: none;
  font-weight: 100;
}





.container_favoritar {
  width: 80%;
  display: flex;
  height: 10%;
  padding: 4%;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(212, 154, 17, 0.7);
  cursor: pointer;
  margin-left: 8%;
  margin-bottom: 5%;
  margin-top: 3%;
  z-index: 2;
}

.bi-person-circle {
  color: #d69b11;
}

.bi {
  color: #d69b11;
}

select {
  width: 70%;
  height: 6%;
  background-color: #cccccccb;
  border: 1px solid rgba(0, 0, 0, 0.849);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.bi-heart-fill:hover {
  fill: red;
}

.bi-heart-fill:active {
  fill: red;
}

.carrossel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  height: max-content;
  overflow: hidden;
  padding: 40px 0;
  margin-top: 20px;
  margin-bottom: auto;
}

.container_carrossel {
  display: flex;
  width: 100vw;
  height: 100%;
  transition: transform ease-in-out 0.5s;
  gap: 50px;
}

.container_carrossel .musica {
  width: calc(20% - 60px);
  min-width: calc(20% - 60px);
  height: auto;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

.container_carrossel .musica img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.container_carrossel .musica:hover {
  transform: scale(1.05);
}

.container_carrossel .musica:first-child {
  margin-left: 50px;
}

.container_carrossel .musica:nth-child(5n + 1) {
  transform-origin: center left;
}
.container_carrossel .musica:nth-child(5n) {
  transform-origin: center right;
}

.btn-carousel {
  position: absolute;
  width: 50px;
  height: 250px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.btn-carousel .bg-carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e80;
  mix-blend-mode: darken;
  margin: 0;
  padding: 0;
}

.btn-carousel .btn-carousel-btn {
  position: absolute;
  width: 100%;
  height: 200px;
  border: none;
  background-color: transparent;
  color: #FFF;
  margin: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}

.btn-carousel-btn:hover {
  transform: scale(1.5);
}

.carrossel:hover .btn-carousel .btn-carousel-btn {
  opacity: 1;
  visibility: visible;
}

.btn-carousel.right{
  right: 0;
}
.tela_user{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, black 0%, #1e1e1e 94%);
}

.container_perfil{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 35%;
  height: 90vh;
}

.container_perfil b{
  margin-top: 10%;
  color: white;
}

.musicas_user{
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
}

.lista_user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 8%;
  border-radius: 20px;
  margin-top: 10%;
  color: white;
  background-color: #d69b1185;
  border: 0;
}

.recom_user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 8%;
  border-radius: 20px;
  margin-top: 5%;
  color: white;
  background-color: #d69b1185;
  border: 0;
}


.musica_user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15%;
  background-color: #555;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  margin: 1%;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.205);
  color: #ccc;
}


.musica_user:hover{
  transform: scale(1.005);
}

.logout{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  margin-top: 10%;
  cursor: pointer;
}
.logout svg{
  margin-top: 10%;
}

.logout b{
  margin-left: 15%;
}